@font-face {
  font-family: 'MyFont';
  src: url('./bakery.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
}

img{
  width: 300px;
  height: auto;
}